// importing headers file;

// add any variables
@import './headers/variables';  

//// add any media quaries
@import './headers/media';

//section file imported
//only at landing page
.landing-upper {
 
  @import './headers/_fixed';
  @import './section/home';
  @import './section/exam';
  @import './section/feature';
  @import './section/demo';
  @import './section/clients';
  @import './section/contact';

}
//impact all pages
@import './section/course.scss';
@import './section/dashboard.scss';

.link-hover:hover{
  color: $primaryColor;
  text-decoration: none;
}  
.content-center {
  //styling to display server response in middle of screen
  position: fixed;
  top: 45vh;
  left: 50%;
  z-index: 10000000000;
}

// heading
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: .3rem;
}

.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: $primaryColor;
  margin: 0 auto .5rem;
}

nav.nav-tabs {
  a.nav-item .active {
    font-size: '40px';
  }
}

.modal-90w {
  width: 90%;
  max-width: none !important;
}

.activeLink {
  color: $primaryColor !important;
}

.mox-custom-carousel {
  .carousel-indicators{
    bottom: -40px;
  }

  .carousel-indicators > li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
  }

  .carousel-control-prev{
  display: none;
  } 

  .carousel-control-next{
  display: none;
  } 
      
}

.mox-custom-carousel-2 {
  .carousel-indicators{
    bottom: -20px;
  }

  .carousel-indicators > li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
  }

  .carousel-control-prev{
    display: none;

  } 

  .carousel-control-next{
    display: none;
  } 
      
}

//findbycategories
a.find-course-categories-link{ 
  text-decoration: none; 
  :link{
    text-decoration: none;
  }
  :hover{
    text-decoration: none;
    background-color: #d7d7d7 !important;   
  }
}

a.popular-programs-link{
  text-decoration: none;
  ; 
  :hover{
    
    background-color: #516192 !important
  }
}

.mox-custom-tabs{
  .nav .nav-item{
    background-color: rgb(60, 72, 107);
    border-right: 1px solid rgb(46, 55, 82);
    a{
      color: #f6f2f2 !important;
    }
    :hover{
      background-color: rgb(91, 109, 162);
      
    }
    .active{
      background-color: #E0A800;
    }
    
  }
  .nav .nav-item:first-child{
    border-radius: 10px 0 0 0;
  }
  .nav .nav-item:last-child{
    border-right: 0;
    border-radius: 0 0 10px 0;
  }
}