// importing headers file;

// add any variables
@import './headers/variables';  

//// add any media quaries
@import './headers/media';

//section file imported
//only at landing page
.landing-upper {
 
  @import './headers/_fixed';
  @import './section/home';
  @import './section/exam';
  @import './section/feature';
  @import './section/demo';
  @import './section/clients';
  @import './section/contact';

}
//impact all pages
@import './section/course.scss';
@import './section/dashboard.scss';

.link-hover:hover{
  color: $primaryColor;
  text-decoration: none;
}  
.content-center {
  //styling to display server response in middle of screen
  position: fixed;
  top: 45vh;
  left: 50%;
  z-index: 10000000000;
}

// heading
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: .3rem;
}

.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: $primaryColor;
  margin: 0 auto .5rem;
}

nav.nav-tabs {
  a.nav-item .active {
    font-size: '40px';
  }
}

.modal-90w {
  width: 90%;
  max-width: none !important;
}

.activeLink {
  color: $primaryColor !important;
}

.mox-custom-carousel {
  .carousel-indicators{
    bottom: -40px;
  }

  .carousel-indicators > li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
  }

  .carousel-control-prev{
  display: none;
  } 

  .carousel-control-next{
  display: none;
  } 
      
}

.mox-custom-carousel-2 {
  .carousel-indicators{
    bottom: -20px;
  }

  .carousel-indicators > li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
  }

  .carousel-control-prev{
    display: none;

  } 

  .carousel-control-next{
    display: none;
  } 
      
}