// importing headers file;

@import './headers/variables';

@import './headers/media';

//section file imported

.__landing__upper {
  @import './headers/_fixed';
  @import './section/home';
  @import './section/exam';
  @import './section/feature';
  @import './section/demo';
  @import './section/clients';
  @import './section/contact';
}

.content-center {
  //styling to display server response in middle of screen
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  //transform: "translate(-50%, -50%)",
  z-index: 1000000;
}
