.carousel-indicators{
        bottom: -40px;
    }

.carousel-indicators > li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
    }

.carousel-control-prev{
    display: none;
    background-color: black;
    bottom: -25px;
    width: 50px;
    height: 50px;
} 

.carousel-control-next{
    display: none;
    background-color: black;
    bottom: -25px;
    width: 50px;
    height: 50px;
} 
          