@import '../headers/variables';

/* <--Dashboard styling --> */

/* Navbar */

//.dashboard {
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
}

.top-navbar .hideInSm div.nav div.nav-item a.nav-link {
  color: white;
}

.top-navbar .hideInSm div.nav div.nav-item a.nav-link:hover {
  color: $primaryColor;
}
.top-navbar .hideInSm div.nav div.nav-item a.nav-link:hover svg {
  color: $primaryColor;
}

.top-navbar {
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;
  z-index: 99;

  @media (max-width: 767.98px) {
    left: 0px;
  }

  .top-navbar-searchicon-wrapper {
    cursor: pointer;
  }
  div.top-navbar-searchicon-wrapper:hover {
    background-color: #efefef !important;
    // width: 40px !important;
    // height: 40px !important;
  }

  div.top-navbar-searchbar {
    position: fixed; 
    top: 50px;
    right: 0;
    width: 100%; 
  }

}


.sidebar {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    $dbSidebarBgImg;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  box-shadow: 5px 7px 25px #999;

  @media (max-width: 767.98px) {
    display: none;
  }
}

.bottom-border {
  border-bottom: 1px groove #eee;
}

.sidebar-link {
  transition: all 0.4s;
}

.sidebar-link:hover {
  background-color: #444;
  border-radius: 5px;
}

.current {
  background-color: #f44336;
  border-radius: 7px;
  box-shadow: 2px 5px 10px #111;
  transition: all 0.3s;
}

.current:hover {
  background-color: #f66436;
  border-radius: 7px;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-1px);
}

.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #999;
  transition: all 0.4s;
}

.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #dc3545;
}

.search-button {
  border-radius: 50%;
  padding: 10px 16px;
  transition: all 0.4s;
  margin-top: 5px;
}

.search-button:hover {
  background-color: #eee;
  transform: translateY(-1px);
}

.icon-parent {
  position: relative;
}

.icon-bullet::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 15px;
  height: 12px;
  width: 12px;
  background-color: #f44336;
  border-radius: 50%;
}
//}

.scroll-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10000;
  width: 25px;
  padding: 5px;
}

/* end of Navbar  */

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 50rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.cat-card {
  // width: 350px;
  div.parent {
    display: flex;
    justify-content: space-between;
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: rgb(16, 16, 199);
    }
    svg {
      margin-left: auto;
      color: white;
      :hover {
        color: rgb(77, 77, 77);
      }
    }
  }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.bm-burger-button {
  @media (min-width: 767.98px) {
    display: none;
  }
}

// .carousel-indicators li {
//   background-color: #000000;   
// }
// .carousel-indicators .active {
//   background-color: #ec2d2d;
// }

// custom radio button size for examTaker stem
.exam-taker-stem{
  input[type=radio] {
    width: 1.2rem;
    height: 1.2rem;
    
  }
  input[type=radio] + label {
    font-size: 1rem;
  }
}