.jumbotron {
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}

h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .3rem;
}

.heading-underline {
    width: 3rem;
    height: 0.2rem;
    background-color: $primaryColor;
    margin: 0 auto .5rem;
}

.feature svg.svg-inline--fa {
    color: $primaryColor;
}

.feature h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: 0.4rem;
}

.feature p {
    font-size: 1.1rem;
}
@media (min-width: 768px) {
    .feature-lg{
        display: block;
    }
    .feature-md{
        display:none;
    }
}
@media (max-width: 767.98px) {
    .feature-lg{
        display: none;
    }
    .feature-md{
        display: block;
    }
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  .carousel-indicators li {
    background-color: #000000;   
  }
  .carousel-indicators .active {
    background-color: #E74646;
  }