.container{
  padding-top: 60px;
}
.dashBack{
  background-image: url('/assets/image/background/dash.jpg');
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
  margin-bottom: 10px;
}
.dashBack2{
  background-image: url('/assets/image/background/dash2.jpg');
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
}